*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #b2910f;
    text-align: center;
}
.hide{
    display: none;
}
.container{
    height: 70vh;
    width: 70vmin;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.game{
    height: 60vh;
    width: 60vmin;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.box{
    height: 20vh;
    width: 20vmin;
    flex-wrap: wrap;
    padding: 1rem;
    margin-right: 1rem;
    font-size: 1.25rem;
}
